
<% current_page.data.title = t('activity.title') %>

<!--header-->


<div class="header">
  <h2> <%=t('activity.title') %></h2 >
</div>




<!--about-->

<div class="about-bg">
  <div class="container">
  	<h2 class="title"> <%=t('activity.title01') %> </h2>
    <h4 class="text"> <%=t('activity.text01') %> </h4>
  </div>
</div>

<!--table-->

<div class="gray-bg">
	<h3 class="sub-title"> <%=t('activity.table_title01') %> </h3>
	<h4 class="text"> <%=t('activity.table_text01') %> </h4>
	<div class="row">
		<div class="col-md-12">
			<div class="table-wrapper">
				<table class="table table-bordered table-condensed">
					<tbody>
						<tr>
							<th>Official Website Progress</th>
							<th>Official Website Progress</th>
							<th>Official Website Progress</th>
						</tr>
						<tr>
							<td>before 55%</td>
							<td>55%-75%</td>
							<td>after 75%</td>
						</tr>
						<tr>
							<td>before 55%</td>
							<td>55%-75%</td>
							<td>after 75%</td>
						</tr>
						<tr>
							<td>before 55%</td>
							<td>55%-75%</td>
							<td>after 75%</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>


		