
<% current_page.data.title = t('career.title') %>

<!--header-->
<div class="header">
  <h2> <%=t('career.title') %> </h2>
</div>


<!--announcement-->


<!--video-->

<div class="white-bg">
  <div class="container">   
      <h4 class="text"> <%=t('career.text') %>  </h4>
  </div>
</div>



<!--how-->

<!--token-reduction-->
<div class="gray-bg">
  <div class="container">
    <div class="career">
      <div class="row">
        <div class="col-md-5 col-md-offset-1">
          <div class="career-card">
            <h4 class="job-name center">
              <%=t('career.job01') %>
            </h4>
            <div class="line"></div>
            <ul>
              <%=t('career.job01_text') %>
            </ul>
        </div>
      </div>
      <div class="col-md-5">
        <div class="career-card">
            <h4 class="job-name center">
              <%=t('career.job02') %>
            </h4>
            <div class="line"></div>
            <ul>
              <%=t('career.job02_text') %>
            </ul>
        </div>
      </div> 
    </div>
      <div class="row">
        <div class="col-md-5 col-md-offset-1">
          <div class="career-card">
            <h4 class="job-name center">
              <%=t('career.job03') %>
            </h4>
            <div class="line"></div>
            <ul>
              <%=t('career.job03_text') %>
            </ul>
          </div>
        </div>
        <div class="col-md-5">
          <div class="career-card">
              <h4 class="job-name center">
                <%=t('career.job04') %>
              </h4>
              <div class="line"></div>
              <ul>
                <%=t('career.job04_text') %>
              </ul>
          </div>
        </div>
      </div> 
      <div class="row">
        <div class="col-md-5 col-md-offset-1">
          <div class="career-card">
            <h4 class="job-name center">
              <%=t('career.job05') %>
            </h4>
            <div class="line"></div>
            <ul>
              <%=t('career.job05_text') %>
            </ul>
        </div>
      </div>
      <div class="col-md-5">
        <div class="career-card">
            <h4 class="job-name center">
              <%=t('career.job06') %>
            </h4>
            <div class="line"></div>
            <ul>
              <%=t('career.job06_text') %>
            </ul>
        </div>
      </div>
      </div> 
    </div>
</div>
</div>
