<!--header-->

<div class="header">
  <h2> <%=t('privilege.header') %> </h2Privilege >
</div>


<!--announcement-->


<!--video-->

<div class="white-bg">
  <div class="container">
      <h2 class="title"> <%=t('privilege.model_title') %> </h2>
      <h4 class="text"> <%=t('privilege.model_text') %>  </h4>
  </div>
</div>


<!--how-->
<div class="pattern-bg">
  <div class="container">
    <h2 class="title"> <%=t('privilege.token_title') %> </h2>
     <h4 class="text"> <%=t('privilege.token_subtitle') %>  </h4>
  </div>
    <div class="row">
      <div class="col-md-4">
        <div class="work">
          <%=image_tag 'token01.png'%>
          <h4>  <%=t('privilege.token_text01') %></h4>
        </div>
      </div>
      <div class="col-md-4">
        <div class="work">
           <%=image_tag 'token02.png'%>
          <h4> <%=t('privilege.token_text02') %></h4>
        </div>
      </div>
      <div class="col-md-4">
        <div class="work">
           <%=image_tag 'token03.png'%>
          <h4> <%=t('privilege.token_text02') %> </h4>
        </div>
      </div>
    </div>
  </div>
</div>



<!--token-reduction-->
<div class="white-bg">
  <div class="container">
    <div class="token">
      <h2 class="title"> <%=t('privilege.reduction_title') %> </h2>    
       <div class="image"><%=image_tag 'token-reduction.png'%></div>
       <h4> <%=t('privilege.reduction_text') %> </h4>
      <div class="row">
        <div class="col-md-1 col-md-offset-2">
          <h3> <%=t('privilege.reduction_how') %> </h3> 
          <div class="line"></div>
        </div>
        <div class="col-md-8">
          <h4> <%=t('privilege.reduction_how_text') %> </h4>
        </div>
      </div>
    </div>
    </div>
  </div>

